/* From Uiverse.io by adeladel522 */ 
a {
    text-decoration: none;
}

.button {
    width: 100%;
    font-family: 'Paralucent-Medium', sans-serif;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1.5rem;
    padding-inline: 3rem;
    background: var(--gradient);
    border-radius: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
    gap: 10px;
    font-weight: 600;
    border: 2px solid #ffffff4d;
    border-color: #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .button .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover,
  #rd-button-m5in9w3x.rd-button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before,
  #rd-button-m5in9w3x.rd-button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before,
  #rd-button-m5in9w3x.rd-button::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      #FCCC6E,
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shine 3s ease-out infinite;

  }

  @media (min-width: 1080px) {
    button.button {
        width: initial;
        padding: 2rem 4.5rem;
        font-size: 22px;
    }

    section#cadastro #rd-button-m5in9w3x.rd-button {
      padding: 2rem 4.5rem;
        font-size: 22px;
    }

    header#home a button img {
      margin-top: -.25rem;
    }
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  