#home {
    background: var(--bg-black);
    height: 100vh;
    overflow: hidden;
  
    position: relative;
  
    display: flex;
    justify-content: start;
    flex-direction: column;

    transition: all 200ms ease-in-out;
  }


  #home .wrapper {
    position: relative;
    z-index: 3;
    height: 100%;
  }

  #home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #home .blush {
      width: 700px;
      height: 700px;
      background: radial-gradient(#f8a220bd, transparent 50%);
      border-radius: 50%;
      position: absolute;
      z-index: 3;
      top: -25rem;
      left: -40rem;
      opacity: .2;
  }
  
  #home .blush.dois {
    background: radial-gradient(#f8a2207b, transparent 50%);
    top: initial;
    left: initial;
    bottom: -45rem;
    right: -60rem;
  }

  #home .text {
    margin-top: 70%;
    position: relative;
    z-index: 4;
  }

  #home h2 {
    display: none;
    color: #fff;
    font-family: 'Paralucent-ExtraLight', sans-serif;
    text-transform: uppercase;

    background: linear-gradient(145deg, #ffe1a0, #fffaf0, #ffe1a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 1.5rem;
    letter-spacing: 5px;
    

    position: relative;

  }

  #home .content h2::before,
#home .content h2::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 2px;
    width: 27%;
}

#home .content h2::before {
    background: linear-gradient(to left, #F8A120, transparent);
    left: -10%;
}

#home .content h2::after {
    background: linear-gradient(to right, #F8A120, transparent);
    right: -10%;
}
  
  #home h1 {
    color: var(--color-text);
    line-height: 1;
    font-size: 2.7rem;

    margin-top: 2rem;
    margin-bottom: 1rem;

    font-family: 'Paralucent-Medium', sans-serif;

    background: linear-gradient(145deg, #fff7e4 65%, #fff1d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #home h1 span {
    font-family: 'Paralucent-Medium', sans-serif;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #home p {
    font-size: 1.4rem;
    font-weight: 300;
    color: #f0f0f0;
  }

  #home p span {
    font-weight: 700;
  }

#home a button {
  margin-top: 3rem;
}

#home .image img {
  width: 100%;
}

#home .image img.mobile {
  z-index: 2;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120%;
}

#home .image img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  aspect-ratio: 16/9;
}

#home .image img.icon {
  width: 70%;
  opacity: .2;
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
}

#home .image img.pilares {
  width: 40%;
  position: absolute;
  right: -5%;
  top: -5%;
  z-index: 1;

  transform: rotate(10deg);
}

#home::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #020100 45%, #00000000);
  z-index: 2;
}

#home .image img.desktop {
  display: none;
}

@media (min-width: 650px) {
  #home .image img.mobile {
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 50%;
    width: 80%;
  }
}

@media (min-width: 650px) and (min-height: 400px) {
    #home::after {
      display: none;
    }

    #home .image img.mobile {
      display: none;
    }

    header#home .image img.desktop {
      z-index: 2;
      display: inherit;
      width: 42%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      mask-image: linear-gradient(to bottom, #000 90%, transparent);
      right: 2%;
    }

    header#home .content {
      text-align: center;
      align-items: center;

      display: grid;
      grid-template-columns: 1.1fr 1fr;
    }

    header#home .text {
      margin-top: initial;
      margin-bottom: initial;

      text-align: left;
      display: flex;
      align-items: start;
      flex-direction: column;

      position: relative;
      z-index: 2;
    }
}

@media (min-width: 1080px) {
  header#home {
    justify-content: center;
    position: relative;
    height: 100vh;

    mask-image: linear-gradient(to bottom, #000 80%, transparent);
  }

  header#home .blush {
    background: radial-gradient(#F8A120, transparent 50%);
    opacity: .3;
    width: 700px;
    height: 700px;
    top: 50%;
    left: 40%;
    z-index: 2;

    bottom: initial;
    right: initial;

  }

  header#home .blush.dois {
    background: radial-gradient(#F8A120, transparent 50%);
    opacity: .4;
    width: 1000px;
    height: 1000px;
    top: -10%;
    left: 38%;
    z-index: 2;

    bottom: initial;
    right: initial;

    display: inherit;
  }

  header#home img.minigrafico {
    position: absolute;
    width: 50%;
    bottom: -13%;
    z-index: 2;
    filter: blur(3px);
  }

  header#home img.minigrafico.esquerda {
    left: -10%;
  }

  header#home img.minigrafico.direita {
    right: -10%;
    z-index: 3;
    bottom: -8%;
    transform: rotate(180deg);
  }

    header#home::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #020100c9, #00000000 50%);
      z-index: 2;
    }
  
    header#home::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #000000dc 1%, #00000000);
        z-index: 1;
    }

    header#home .image img.mobile {
      display: none;
    }

    header#home .image img.desktop {
      z-index: 2;
      display: inherit;
      width: 42%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      mask-image: linear-gradient(to bottom, #000 90%, transparent);
      right: 2%;
    }

    header#home .image img.bg {
      filter: brightness(1.2);
      transform: initial;
      aspect-ratio: 16/9;
      display: inherit;
      width: 110%;
      position: absolute;
      bottom: 5%;
      left: 0;

      animation: img infinite linear 150s;
    }

    @keyframes img {
      0% {
          transform: translateX(0) scale(1);
      }
  
      50% {
          transform: translateX(-30%) scale(1.5);
      }

      100% {
        transform: translateX(0) scale(1);
      }
  }

    header#home .image img.icon {
      width: 35%;
      right: 10.5%;
      top: 4%;
      left: initial;
      z-index: 1;
      transform: initial;

      mask-image: linear-gradient(to bottom, #000 40%, transparent);

    }

    header#home .image img.pilares {
      width: 30%;
      right: 0;
      top: -5%;
      z-index: 1;
    
      transform: rotate(10deg);

      mask-image: linear-gradient(to bottom, #000 40%, transparent);

    }

    header#home .content {
        text-align: center;
        align-items: center;

        display: grid;
        grid-template-columns: 1.1fr 1fr;
      }

      header#home .text {
        margin-top: initial;
        margin-bottom: initial;
      }
    
      header#home .circle {
        top: 820px;
        width: 100%;
      }

      header#home .content .text {
        text-align: left;
        display: flex;
        align-items: start;
        flex-direction: column;

        position: relative;
        z-index: 2;
      }
    
      header#home .content h1 {
        font-size: 6rem;
        line-height: .8;
        background: linear-gradient(180deg, #fffcf6 60%, #ffe1a0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
      }

      header#home .content p {
        font-size: 1.8rem;
        margin-top: 2rem;
        font-weight: 200;
        color: #ffffffdc;
      }

      header#home .content p span {
        color: #fff;
        font-weight: 600;
      }

      header#home h2 {
        display: inherit;
        font-size: 1.4rem;
        letter-spacing: 9px;
        background: linear-gradient(145deg, #f2faff 65%, #ffe1a0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }

      header#home .content h2::before,
    header#home .content h2::after {
        width: 40%;
    }

    header#home .content h2::before {
        left: -45%;
        display: none;
    }

    header#home .content h2::after {
        right: -45%;
    }

      header#home .content a button {
        font-size: 1.8rem;
      }
}

@media (min-width: 1600px) {
  .wrapper {
    width: min(140rem, 100%);
  }

  header#home .content {
    grid-template-columns: 1.2fr 1fr;
  }

  header#home .content h1 {
    font-size: 7rem;
    width: 100%;
  }

  header#home .content p {

  }

  header#home .content h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  header#home .image img.desktop {
    width: 35%;
    bottom: 0;
    right: 8%;

    top: initial;
    transform: initial;
    mask-image: initial;
  }
}

@media (min-width: 1500px) {
  header#home .image img.desktop {
    width: 35%;
    bottom: 0;
    right: 12%;
  }
}

@media (min-width: 1700px) {
  .wrapper {
    width: min(150rem, 100%);
  }

  header#home .image img.desktop {
    width: 38%;
    bottom: 0;
    right: 11%;
  }
}


@keyframes slow-float-with-scale {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(-2px, 2px) scale(1.02);
  }
  40% {
    transform: translate(2px, -2px) scale(1.03);
  }
  60% {
    transform: translate(-3px, -3px) scale(1.02);
  }
  80% {
    transform: translate(3px, 2px) scale(1.01);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

